.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo-image {
    width: 150px;
}

.navbar-menu {
    display: flex;
    gap: 1.5rem;
}

.navbar-menu.mobile {
    display: none;
    position: absolute;
    top: 68px;
    left: 0;
    width: 180px;
    background-color: #fff;
    padding: 20px 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-item {
    list-style: none;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: block; 
    padding: 10px 20px; 
}


.navbar-link:hover {
    color: #000;
    background-color: #fff;
    transition: 0.3s;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-icons {
    display: flex;
    gap: 1.5rem;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.icon:last-child{
    margin-right: 1.5rem;
}

.cart-icon{
    position: relative;
}

.cart-count{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.75rem;
    background-color: red;
    color: #fff;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.mobile-menu {
    display: none;
}

.hamburger-icon {
    font-size: 2rem;
    cursor: pointer; 
}


/* Responsividade */
@media (max-width: 870px) {
    .navbar-menu {
        display: none; 
    }

    .navbar-menu.mobile {
        display: block; 
    }

    .mobile-menu {
        display: block; 
    }

    .navbar-link {
        color: #333;
    }
}
